<form action="/home/change_accounts" method='post' class='clearfix' id="change-account">
  <label for="new_key">Try another account:</label><input type="text" id='new_key' name='new_key' />
  <input type='submit' value="Show this account.">
  </form>