<article>
<h1 class="v-large">chimpActions</h1>
<p>the thing that does stuff! </p>
</article>

<% if Chimpactions %>
  <section>
    <article>
      <h1 class="v-large">THE Chimpactions gem is loaded and ready for action.</h1>
      <h1>(i just checked)</h1>
    </article>
  </section>
<% end %>