<section>
<article>
<h1 class="v-large logo"> TELL US YOUR EMAIL </h1>
<p> This will programmatically add you to the Chimpactions Mailing List </p>
<form action="/demo/signup" method="post">
<fieldset>
  <legend> SIGN UP </legend>
<ul>
<li><label>YOUR EMAIL: </label><input type=text name=user[email]></li>
<li><label>First Name: </label><input type=text name=user[first_name]></li>  
<li><label>Last Name: </label><input type=text name=user[last_name]></li>
<li><label>Favorite color: </label><input type=text name=user[favorite_color]></li>  
</ul>
</fieldset>
<input type="submit" value="SUBMIT"/>
</form>
</article>
</section>



